a.social {
  --bg-img: "";
  background-image: var(--bg-img);
  width: 1.5rem;
  height: 1.5rem;
  display: block;

  -webkit-background-clip: initial;
  background-clip: initial;
  &[area-label="tiktok"] {
    --bg-img: url(/asssets/icons/tiktok.svg);

    &:hover {
      --bg-img: url(/asssets/icons/tiktok-2.svg);
    }
  }

  &[area-label="instagram"] {
    --bg-img: url(/asssets/icons/instagram.svg);

    &:hover {
      --bg-img: url(/asssets/icons/instagram-2.svg);
    }
  }

  &[area-label="discord"] {
    --bg-img: url(/asssets/icons/discord.svg);

    &:hover {
      --bg-img: url(/asssets/icons/discord-2.svg);
    }
  }

  &[area-label="twitter"] {
    --bg-img: url(/asssets/icons/twitter.svg);

    &:hover {
      --bg-img: url(/asssets/icons/twitter-hover.svg);
    }
  }
}
